*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas1{
    position: absolute;
    background-color: #000000;
}

.controls{
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
}

#image1{
    display: none;
}

#WarpButton{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 300%;
    margin-top: 85vh;
    line-height: 1.5rem;
}

#WarpButton:hover{
    background-color: #ffffff;
    color: #ff0000;
    border: 1px solid #ff0000;
    cursor: pointer;
}

.dont{
    color: #ffffff;
    margin-top: 85vh;
    text-align: center;
}
