*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    position: absolute;
    background-color: #00ff00
}

.controls{
    position: absolute;
    z-index: 1000;
}

#image1{
    display: none;
}
